@import './class/1ndexClass.scss';
@import './colors.scss';

.App {
  text-align: center;
  margin: 20px;
  gap: 10px;
  margin: calc(100% - 20%);
  margin: auto;

}
.main{
  width: calc(100% - 25%);
  margin: auto;
}
.none{
  display: none;
}

Link{
  text-decoration: none;
  color: whitesmoke;
}
a{
  text-decoration: none;
  color: whitesmoke;
}
ul, li{
  list-style: none;
}